@if (Request.IsAuthenticated)
{
	<li>
		@Html.ActionLink("Welcome " + User.Identity.Name, "Manage", "Authentication")
	</li>
	<li>
		@Html.ActionLink("Log Out", "Logout", "Authentication")
	</li>
}
else
{
	<li>
		@Html.ActionLink("Log In", "", "Authentication")
	</li>
}
