@*@using Microsoft.AspNet.Identity*@
@using OWASP_2013_Demo.Domain
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("Logout", "Authentication", FormMethod.Post, new { id = "logoutForm"}))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				@if (UserProvider.UserPrincipal != null)
				{
					@Html.DisplayText("Hello " + UserProvider.UserPrincipal.EmailAddress + "!")
					@*<div>@UserProvider.UserPrincipal.EmailAddress</div>*@
				}
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Login", "Index", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
